<h1>Listing articles</h1>

<%= link_to 'Mi Blog', controller: 'articles' %>
<%= link_to 'Nuevo articulo', new_article_path %>
<%= form_for :article, url: articles_path do |f| %>
  ...
<% end %>

<%= link_to 'Atras', articles_path %>
<table>
  <tr>
    <th>Titulo</th>
    <th>Texto</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Mostrar', article_path(article) %></td>
      <td><%= link_to 'Editar', edit_article_path(article) %></td>
      <td><%= link_to 'Borrar', article_path(article),
              method: :delete,
              data: { confirm: 'Esta seguro?' } %></td>
    </tr>
  <% end %>
</table>
