<p>
  <strong>Titulo:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @article.text %>
</p>

<h2>Comentarios</h2>
<%= render @article.comments %>

<h2>Hacer un comentario:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to Articles', articles_path %>
